service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthentificated() {
    	return request.auth.uid != null;
    }

    function isAgent() {
        return isAuthentificated() && request.auth.token.role == "agent";
    }

	function isAdmin() {
        return isAuthentificated() && request.auth.token.role == "admin";
    }

    function isUser() {
        return isAuthentificated() && request.auth.token.role == "user";
    }

    function isGuest() {
        return isAuthentificated() && request.auth.token.role == null;
    }

    function isMobileAgent() {
        return isAuthentificated() && request.auth.token.role == "mobile-agent";
    }

	 match /agents/{agentId} {
    	allow read: if isAgent() || isAdmin() || isUser();
        allow write: if isAgent()
    }

    match /deviceGroups/{group} {
        allow read: if isAdmin() || isUser() || isAgent();
        allow write: if isAdmin();
    }

    match /devices/{device} {
        allow read: if isAgent() || isAdmin() || isUser() || isMobileAgent();
        allow write: if isMobileAgent() || isAgent();
    }

    match /jobs/{job} {
        allow read: if isAgent() || isAdmin() || isUser();
        allow write: if false;
    }

    match /applications/{document=**} {
        allow read: if isAgent() || isAdmin() || isUser();
        allow write: if false;
        allow delete: if isAgent();
    }

    match /jobs-tasks/{jobTask} {
        allow read: if isAgent() || isAdmin() || isUser();
        allow write: if false;
    }
  }
}



